.square {
    @include min-max(25px, 50px);
    border: 1px solid rgba(236, 236, 236, 0.581);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1d6ba98;
    position: relative;
    &:hover {
        background-color: #d1d6ba55;
    }
  }

  .square-bomb {
    fill: #000000;
  }
  
  @keyframes boom {
    0% {
      fill: #000;
      transform: scale(1, 1);
    }
    50% {
      fill: #363636;
      transform: scale(1.3, 1.3)
    }
    100% {
      fill: #b5b5b5;
      transform: scale(1.8, 1.8)
    }
  }
  
  .square-bomb {
    animation: boom 0.2s ease-out 1;
    position: relative;
    fill: #000;
    transform: scale(1.8, 1.8)
  }
  
  .square-flag {
    fill: #536449 
  }



