@import "reset";
@import "variables";
@import "mixins";
@import "square";
@import "game-over";


.main {
  display: block;
  height: 100vh;
  margin: 0 auto;
  background: url(../img/bg.jpeg) center center/cover no-repeat;
}

.desk {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: repeat(8, minmax($square-min, $square-max));
  grid-template-rows: repeat(8, minmax($square-min, $square-max));
}

.btn-restart {
  display: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

@keyframes btn-restart {
  0% {
      width: 0;
      height: 0;
      font-size: 0;
  }
  25% {
      width: 50px;
      height: 15px;
      font-size: 0.5rem;
  }
  50% {
      width: 100px;
      height: 30px;
      font-size: 1rem;
  }
  75% {
      width: 150px;
      height: 45px;
  }
  100% {
      width: 190px;
      height: 55px;
      font-size: 1.5rem;
  }
}

.btn-restart {
  animation: btn-new-game 0.2s ease-out 1;   
  width: 190px;
  height: 55px;
  font-size: 1.5rem;
}